body#elLogin {
background: rgb(67,134,196);
background: -moz-linear-gradient(-45deg,  rgba(67,134,196,1) 0%, rgba(64,95,124,1) 100%);
background: -webkit-linear-gradient(-45deg,  rgba(67,134,196,1) 0%,rgba(64,95,124,1) 100%);
background: linear-gradient(135deg,  rgba(67,134,196,1) 0%,rgba(64,95,124,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4386c4', endColorstr='#405f7c',GradientType=1 );

	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	padding-top: 0;
	margin: 0 auto;
}

#elLogin_box {
	width: 450px;
}
#ipsTabs_elLogin_tabs_handler__standard_panel {
	background: inherit;
}

#elLogin_box > .ipsColumns {
	min-height: 265px;
}

#elLogin_tabs {
	background: rgba(0,0,0,0.2);
	padding: 0;
}
html[dir="ltr"] #elLogin_tabs {
	border-radius: 0 6px 6px 0;
}
html[dir="rtl"] #elLogin_tabs {
	border-radius: 0 0 6px 6px;
}
	
	#elLogin_tabs ul a {
		display: block;
		width: 50px;
		height: 50px;
		line-height: 50px;
		color: rgba(255,255,255,0.5);
		font-size: 22px;
		text-align: center;
		position: relative;
		{prefix="transition" value="0.2s all linear"}
	}

		html[dir="ltr"] #elLogin_tabs ul li:first-child a {
			border-radius: 0 6px 0 0;
		}
		html[dir="rtl"] #elLogin_tabs ul li:first-child a {
			border-radius: 0 0 0 6px;
		}

		#elLogin_tabs ul a:not( .elLogin_tabsActive ):hover {
			color: #fff;
		}

	#elLogin_tabs .elLogin_tabsActive {
		background: #fff;
		color: #222;
	}

		#elLogin_tabs .elLogin_tabsActive:before {
			content: '';
			display: block;
			border-width: 8px;
			border-style: solid;
			position: absolute;
			top: 50%;
			margin-top: -8px;
		}
		html[dir="ltr"] #elLogin_tabs .elLogin_tabsActive:before {
			border-color: transparent #fff transparent transparent ;
			left: -16px;
		}
		html[dir="rtl"] #elLogin_tabs .elLogin_tabsActive:before {
			border-color: transparent transparent transparent #fff;
			right: -16px;
		}


.cAcpLoginBox {
	padding-left: 0;
	padding-right: 0;
	background: #fff;
}
html[dir="ltr"] .cAcpLoginBox {
	border-radius: 4px 0 0 4px;
}
html[dir="rtl"] .cAcpLoginBox {
	border-radius: 0 4px 4px 0;
}

	html[dir] .elLogin_single .cAcpLoginBox {
		border-radius: 4px;
	}

	.cAcpLoginBox .ipsForm {
		margin: 0;
	}
	.cAcpLoginBox .ipsForm .ipsFieldRow:not( :last-child ) {
		margin-bottom: 15px;
	}

	.cAcpLoginBox hr.ipsHr {
		border-color: rgba(255,255,255,0.1);
	}

	.cAcpLoginBox .ipsTabs_panel {
		background: transparent;
	}

.cAcpLoginBox_logo {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}

.cAcpLoginBox_logo img{
	width: 60%;
	margin: 0 auto;
	display: block;
}
.cAcpLoginBox_button {
	margin-bottom: 5px;
}

	#elLogin_forms .ipsType_pageTitle .fa {
		font-size: 28px;
	}
	
.elLogin_single #elLogin_forms {
	border-radius: 3px;
}

/* To make 2FA show as part of the form rather than a modal */
#elTwoFactorAuthentication.ipsModal {
	background: #f9f9f9;
	position: inherit;
}
#elTwoFactorAuthentication {
	position: inherit;
}
#elTwoFactorAuthentication > div {
	background: #f9f9f9;
	box-shadow: none;
	border-radius: none;
}